.red-input {
    background: #DE2B38 0% 0% no-repeat padding-box !important;
    font: normal normal normal 16px/20px Montserrat;
    border: none;
    border-radius: 0px;
    color: #fff;
    padding: 7px;

    &::placeholder {
        color: #fff;
        opacity: 0.29;
    }
}

.white-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DE2B38;
    font: italic normal normal 12px/15px Montserrat;
    color:  #6D6D6D;
    border-radius: 0px;
    padding: 7px;

    &::placeholder {
        color:  #6D6D6D;
        opacity: 1;
    }
}


.red-select {
    outline: none !important;

    .btn {
        background: #DE2B38 0% 0% no-repeat padding-box !important;
        font: normal normal normal 14px/18px Montserrat;
        border: none;
        outline: none !important;
        border-radius: 0px;
        color: #fff !important;
        opacity: 0.8;
        padding: 7px;

        &::placeholder {
            color: #fff;
            opacity: 0.29;
        }

        &:hover {
            color: #fff;
        }

    }

    .dropdown-menu {
        background: #DE2B38 0% 0% no-repeat padding-box !important;
        border: none;
        box-shadow: 0px 3px 6px #00000029;
        .dropdown-item {
            color: #fff;

            &:hover,
            &:focus {
                background: #d30d1c 0% 0% no-repeat padding-box !important;

            }

            &.active,
            &:active {
                background: #d30d1c 0% 0% no-repeat padding-box !important;
            }
        }

    }
}


.white-select {
    outline: none !important;

    .btn {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DE2B38;
        outline: none !important;
        font: normal normal normal 12px/15px Montserrat;
        border-radius: 0px;
        color: #BCBCBC;
        opacity: 1;
        &::placeholder {
            color: #BCBCBC;
            opacity: 1;
        }

        &:hover {
            color: #BCBCBC;
        }

    }

    .dropdown-menu {
        background:#FFFFFF  0% 0% no-repeat padding-box !important;
        border: none;
        box-shadow: 0px 3px 6px #00000029;
        .dropdown-item {
            color: #6D6D6D;
            &:hover,
            &:focus {
                color: #d30d1c;
                background: transparent;
            }

            &.active,
            &:active {
                color: #d30d1c;
                background: transparent;
            }
        }

    }


}
.white-select>.dropdown-menu{
       border: 1px solid #DE2B38 !important; 
       margin-bottom:0px !important;
}

.search-box {
    position: relative;

    .search-inp {
        height: 40px;
        width: calc(100% - 30px);
    }

    .search-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #fff;
        background: #de2b38;
        padding: 10px;
        height: 100%;
    }
}

.search-news {
    position: relative;

    .search-inp {
        height: 40px;
        width: calc(100% - 30px);
    }

    .search-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #fff;
        background: #de2b38;
        padding: 10px;
        height: 100%;
    }
}


.readmore-dark {
    letter-spacing: 0px;
    color: $text-dark;
    //text-shadow: 0px 3px 6px #00000029;
    position: relative;
    display: inline-block;

    &:after {
        content: '';
        transform: scaleX(0);
        transform-origin: top right;
    }

    &:hover:after {
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 1px;
        bottom: -10px;
        left: 0;
        background:white;
        transform-origin: top left;
        transition: transform 300ms ease-in-out;
        z-index: 2;
    }
    a{
      text-decoration: none;
      color: unset;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.gutters-1px{
    margin-right: 0;
    margin-left: 0;

    >.col,
    >[class*="col-"] {
        padding-right: 1px;
        padding-left: 0;
        padding-bottom: 1px;
    }
}

.text-hover-gradient{
  background-image: linear-gradient(to right, $text-dark 0%, $text-dark 50%, $text-grey 50.9999%);
  background-size: 200% 100%;
  background-position: 100% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s ease-in-out;
  color: transparent !important;
  &:hover{
    background-position: 0% 0%;
  }
}

@import './components/slide-text.scss';
@import './components/button.scss';
@import './components/menu-vertical.scss';
@import './components/rhombus-date';