.cke_textarea_inline {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  text-align: center;
}

.dropzone .dz-image img {
  width: 100%;
  height: 100%;
}

.caption {
  width: 120px;
  margin-top: 8px;
}

.images_upload {
  display: none;
}

.description_short {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.form-control[readonly] {
  background-color: #ffffff;
}

.component-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 24px;
  margin-bottom: 20px;
}

.select2 {
  width: 100% !important;
}

.checkbox {
  margin-top: 11px;
}
/*# sourceMappingURL=styles.css.map */