.btn-kc {
    //transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid $text-dark;

    width: 28px; //sqrt(b^2/2) 
    height: 28px;
    display: inline-block;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    .btn-content {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $text-dark;
    }

    &.btn-back {
        cursor: pointer;
        border-radius: 5px;

        .btn-content:after {
            content: "";
            background-image: url("/img/iconArrow.svg");
            width: 60%;
            height: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s ease-in;
        }

        &:hover {
            .btn-content:after {
                width: 75%;
            }
        }
    }

    &.btn-next {
        border-radius: 5px;
        cursor: pointer;

        .btn-content:after {
            content: "";
            background-image: url("/img/iconArrow.svg");
            width: 60%;
            height: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s ease-in;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        &:hover {
            .btn-content:after {
                width: 75%;
            }
        }
    }

}

@media (min-width: 992px) {
    .btn-kc {
        width: 40px;
        height: 40px;
        &.btn-back,
        &.btn-next {
            .btn-content:after {
                width: 40%;
                height: 12px;
            }

            &:hover {
                .btn-content:after {
                    width: 60%;
                }
            }
        }
    }
}
