.rhombus-date {
  width: 34px;
  height: 34px;
  background: #D30D1C;
  position: absolute;
  bottom: -17px;
  left: 30px;
}

.rhombus-date .btn-content {
  color: white;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rhombus-date .btn-content .day {
  font: normal normal normal 13px/16px Montserrat;
}

.rhombus-date .btn-content .month {
  font: normal normal normal 8px/11px Montserrat;
}

@media (min-width: 992px) {
  .rhombus-date .btn-content .day {
    font: normal normal 500 16px/16px Montserrat;
  }
  .rhombus-date .btn-content .month {
    font: normal normal normal 11px/11px Montserrat;
  }
}
/*# sourceMappingURL=rhombus-date.css.map */