.news-home {
    padding: 50px 0px;
    background: #F2F2F2 0% 0% no-repeat padding-box;

    .title {
        font: normal normal normal 30px/41px Source Serif Pro;
        letter-spacing: 0px;
        color: $text-blue;
    }

    .item-new-feed-main-hot {
        margin: 20px 0px;

        .image-news-hot {
            position: relative;
            margin-bottom: 50px;

            .background-news-hot {
                height: 0px;
                padding-bottom: calc(100% / 6 * 4);
                background-size: cover;
            }

            .rhombus-date {
                left: 40px;
            }
        }

        .item-new-hot-title {
            font: normal normal 600 20px/24px Montserrat;
            color: $text-blue;
            padding-bottom: 14px;
            cursor: pointer;
            text-decoration: none;
        }

        &:hover {
            .item-new-hot-title {
                color: $text-dark;
            }
        }

        .item-new-hot-description {
            font: normal normal medium 14px/24px Montserrat;
            color: $text-grey;
        }
    }

    .item-suggestions-new-feed {
        .item-suggestions {
            padding: 12px 0px;
            border-bottom: 1px solid $text-grey-light;

            a {
                font: normal normal 600 16px/24px Montserrat;
                color: $text-grey-dark;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                cursor: pointer;
            }

            &:hover {
                a {
                    color: $text-dark;
                }
            }

            p {
                font: normal normal medium 14px/24px Montserrat;
                color: #BCBCBC;
                margin: 0px;
            }
        }

    }

    .show-more-new-feed {
        margin-top: 30px;
    }
}


@media (min-width: 992px) {
    .news-home {
        .title{
            margin-bottom: 73px;
        }

        .item-new-feed-main-hot {
            margin: 0px;
        }

        .item-suggestions-new-feed {
            .item-suggestions:first-child {
                padding-top: 0px;
            }

            .item-suggestions{
                margin-top: -16px;
                margin-bottom: 34px;
                padding-bottom: 12px;
            }
        }

        .show-more-new-feed {
            position: absolute;
            bottom: 52px;
        }
    }
}
