.scope-project {
  background: url("/img/backgroundRed.png") repeat;
  margin-top: 56px;
  padding: 69px 0px 0px;
}

.scope-project .title {
  color: #fff;
  font: normal normal normal 20px/24px Montserrat;
  text-align: center;
}

.scope-project .search-form {
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .scope-project .title {
    font: normal normal normal 24px/29px Montserrat;
    margin-bottom: 10px;
  }
  .scope-project .search-form {
    padding: 10px 0px;
  }
}
/*# sourceMappingURL=scope-project.css.map */